@import "_reset";

///=========Подключение шрифтов
//&dispalay=swap@subset=cyrilic-ext
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600,800&dispalay=swap@subset=cyrilic-ext);

///=========Шрифт по умолчанию
$fontFamily: "Montserrat";
$fontSize: 20;

///=========Другие переменные
//Ширина контейнера
$maxWidtCont: 1200;
//Ширина опорных точек
$md1: $maxWidtCont + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

///=========Адаптивные размеры
//Адаптивный размер шрифта
@mixin adaptiveFontSize($sizeMobile, $sizeDesktop) {
	font-size: calc(
		#{$sizeMobile+px} + (#{$sizeDesktop} - #{$sizeMobile}) * ((100vw - 320px) / (#{$maxWidtCont} - 320))
	);
}
//Адаптивная шрина блока
@mixin adaptiveWidth($sizeMobile, $sizeDesktop) {
	width: calc(#{$sizeMobile+px} + (#{$sizeDesktop} - #{$sizeMobile}) * ((100vw - 320px) / (#{$maxWidtCont} - 320)));
}
//Адаптивный padding
@mixin adaptivePadding($sizeMobile, $sizeDesktop) {
	padding: calc(#{$sizeMobile+px} + (#{$sizeDesktop} - #{$sizeMobile}) * ((100vw - 320px) / (#{$maxWidtCont} - 320)));
}

body {
	font-family: $fontFamily;
	font-size: $fontSize;
}

//Обертка
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//Контейнер
.container {
	// padding: 15px;
	max-width: $maxWidtCont + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

%img-container-horizontal {
	padding: 0px 0px 58px 0px;
	height: 200px;
	overflow: hidden;
	position: relative;
}

%img-adaptivе-horizontal {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}

%img-container-vertical {
	flex: 0 0 25%;
	position: relative;
	min-height: 50px;
}

%img-adaptivе-vertical {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 110px;
	box-shadow: 0 0 5px 0 #0006;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	padding: 30px calc(50% - 500px);

	&__logo {
		& img {
			height: 50px;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
	}
}

.main {
	padding: 30px calc(50% - 500px);
	flex: 1 1 auto;

	&__container {
		flex-wrap: wrap;
		gap: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		display: flex;
	}
}

.footer {
	box-shadow: 0 0 5px 0 #0006;
	padding: 30px calc(50% - 500px);
}

.card {
	width: 300px;
	padding: 30px;
	box-sizing: border-box;
	box-shadow: 0 0 5px 0 #0006;
	border-radius: 10px;
	cursor: pointer;
	background: #fff;
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: center;

	&:hover {
		transform: scale(1.1, 1.1);
		transition: 0.2s linear;
		box-shadow: 0 0 5px 0 #0006, 0 0 15px 0 #0009;

		& .card__img {
			opacity: 1;
			transition: 0.2s linear;
		}
	}

	&__img {
		width: 100%;
		height: 150px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.7;
	}

	&__title {
		font-size: 25px;
		font-weight: 700;
	}

	&__rating {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;

		& img {
			height: 10px;
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0008;
	align-items: center;
	justify-content: center;
	display: none;

	&.active {
		display: flex;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 300px);
		gap: 0 50px;
		background-color: #fff;
		padding: 30px;
		border: 1px solid;
		border-radius: 10px;
		position: relative;
		max-width: 1000px;
	}

	&__img {
		width: 100%;
	}

	&__information {
		& h2 {
			font-size: 30px;
			padding-bottom: 30px;
			font-weight: 700;
		}

		& h3 {
			font-size: 24px;
			padding-bottom: 30px;
			font-weight: 600;
		}

		& p {
			font-size: 20px;
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		background-image: url(../img/close.png);
		background-position: center 0;
		background-size: contain;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
	}
}
